/*
    COLORS

    black: #262626; // 90%
    black: #0d0d0d; // 95%
    darkgray: #333;
    lightgray: #ccc;
    seagreen: #0DCAF2;
*/
///////////////////////////////////////
//// GLOBAL STYLES
///////////////////////////////////////
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    background-color: #0d0d0d;
    color: #fff;
    overflow-x: hidden;
    font-weight: 300;
}

li {
    list-style-type: none;
}

/* ICON FONTS */
.fa {
    font-size: 1.125em;
}

h1, h2, h3 {
  text-transform: uppercase;
  color: #fff;
}

h1 {
  font-weight: 300;
  font-size: 2.35em;
  line-height: 1.09em;
}

h2 {
  font-weight: 300;
  font-size: 1.65em;
  line-height: 1.5em;
}

h3 {
  font-weight: 300;
  font-size: 1.275em;
  line-height: 1.5em;
}

h4 {
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5em;
}

h5 {
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5em;
}

h6 {
  font-weight: 300;
  font-size: .8em;
  line-height: 1.5em;
}

a:link {
    color: #fff;
    text-decoration: none;
    transition: all .1s ease;
}

a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: lightgray;
}

.inner-wrap {
    max-width: 1280px;
    margin: 0 auto;
}

.standard-button {
    background: white;
    border: 2px solid #fff;
    border-radius: 2px;
    color: black;
    padding: 13px 20px;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
}



/*/////////////////////////////////
//// HEADER MOBILE
/////////////////////////////////*/

.mobile-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo-container {
        justify-content: flex-end;
    }
}

header .hamburger {
    width: 24px;
}


/*/////////////////////////////////
//// HEADER
/////////////////////////////////*/

header {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    padding-left: 18px;
    padding-right: 18px;
}

header div {
    width: 33.3%;
}

header .logo-container {
    display: flex;
    width: 33.3%;
    align-items: center;
    justify-content: center;
}

header .sign-in {
    font-variant: small-caps;
}

header .sign-in:hover {
    color: #0DCAF2;
}

header .logo {
    width: 26px;
    transition: all .1s ease;
}

header .logo-container h1 {
    font-size: 1.25em;
    transition: all .1s ease;
}

header nav {
    width: 33.3%;
    display: flex;
    justify-content: flex-end;
}

header nav a:nth-child(4) {
    color: #0DCAF2;
}

header nav a:nth-child(4):hover {
    color: #fff;
}

header li {
    margin: 2px 6px;
    font-variant: small-caps;
}

header .tree-icon {
    width: 12px;
}



/*/////////////////////////////////
//// FOOTER
/////////////////////////////////*/

footer {
    border-top: 1px solid #fff;
    width: 100%;
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-direction: column-reverse;
}

footer .left-box {
    display: flex;
    padding-left: 4%;
    width: 60%;
}

footer .left-box nav {
    min-width: 115px;
    font-variant: small-caps;
}

footer .left-box li {
    padding: 5px 0;
}

footer .left-box a {
    color: #ccc;
}

footer .left-box a:hover {
    color: #fff;
}

footer .left-box h4 {
    margin: 0 0 10px 0;
    font-weight: 500;
    font-size: 1.125em;
}

footer .right-box {
    position: relative;
    margin: 0 auto 25px;
    width: 70%;
    transition: all  .1s ease;
    h2 {
        font-size: 1.25em;
        text-align: center;
        margin-bottom: 20px;
        svg {
            width: 24px;
            vertical-align: text-bottom;
        }
    }
}

footer .right-box input {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 2px;
    width: 100%;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
}

footer .right-box p {
    margin-bottom: 7px;

}

footer .email-icon {
    width: 23px;
    height: 30px;
    position: absolute;
    top: 70px;
    right: 5%;
}

footer .location-icon {
    width: 22px;
    height: 30px;
    position: absolute;
    bottom: 18px;
    right: 5%;
}

footer .logo-container {
    text-align: center;
    margin: 40px 0;
    svg {
        width: 50px;
    }
    p {
        font-size: 1.75em;
        font-variant: small-caps;
    }
}

footer .right-box input {
    width: 100%;
}

footer .left-box {
    justify-content: center;
    padding-left: 0%;
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

/*/////////////////////////////////
//// BOTTOM INFO
/////////////////////////////////*/

.bottom-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px;
    align-items: center;
    border-top: none;
}

.bottom-info .middle {
    display: flex;
    justify-content: flex-start;
    width: 61%;
    padding-right: 0px;
}

.bottom-info p {
    margin-right: 3px;
}

.bottom-info .middle-color {
    color: #0DCAF2;
}

.bottom-info div {
    width: 25%;
    padding-left: 20px;
}

.bottom-info p {
    font-weight: 300;
    font-size: .9em;
}

.bottom-info .right {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.bottom-info svg {
    width: 32px;
}

.bottom-info .design {
    display: none;
}


/*/////////////////////////////////
//// MEDIA QUERIES
/////////////////////////////////*/

@media(min-width: 490px){
    footer {
        flex-direction: column-reverse;
    }

    footer .left-box {
        justify-content: center;
        padding-left: 0%;
        margin: 0 auto;
        text-align: center;
        width: 90%;
    }
}

@media(min-width: 700px){
    footer {
        align-items: center;
    }
}

@media(min-width: 768px){

    footer .right-box input {
        width: 92%;
    }

    footer .email-icon,
    footer .location-icon {
        right: 12%;
    }

    footer {
        flex-direction: row;
    }

    .bottom-info .middle {
        justify-content: center;
        padding-right: 0px;
    }

    .bottom-info .design {
        display: block;
    }
}

@media(min-width:992px){
    .mobile-menu {
        display: none;
        align-items: center;
        justify-content: space-between;
    }

    header {
        display: flex;
    }

    footer {
        border-top: none;
    }

    footer .left-box {
        justify-content: flex-start;
    }

    .bottom-info {
        border-top: 1px solid;
    }

}


@media (max-width: 700px) {

    .hero-container {
        display: none;
    }

    .bottom-info .middle {
        justify-content: flex-start;
        width: 100%;
    }


}

@media (max-width: 490px) {

    header .logo-container h1 {
        font-size: 1em;
    }

    .left-box nav:nth-child(2),
    .left-box nav:nth-child(3),
    .left-box nav:nth-child(4) {
        display: none;
    }

    .bottom-info .middle {
        flex-direction: column;
    }

}
