
<!-- MOBILE HERO PICTURE -->
<div class="mobile-hero-pic">
        <img src="img/treepic2.jpg"/>
</div>

<!-- DESKTOP HERO CONTAINER -->
<section class="hero-container inner-wrap">
    <div class="hero-pic-section">
        <div class="pic-column column-padding">
            <img src="img/forestpic1.jpg"/>
        </div>
        <div class="pic-column column-padding">
            <img src="img/campground1.jpg"/>
        </div>
        <div class="pic-column column-padding">
            <h2>Explore Your Future Outside.</h2>
        </div>
    </div>
    <div class="hero-pic-section">
        <div class="column-padding">
            <img src="img/treepic2.jpg"/>
        </div>
        <div class="pic-column column-padding">
            <img src="img/sunsetpic1.jpg"/>
        </div>
    </div>
    <div class="hero-pic-section">
        <div class="pic-column column-padding">
            <img src="img/hikerpic3.jpg"/>
        </div>
        <div class="pic-column column-padding">
            <img src="img/suntreepic1.jpg"/>
        </div>
    </div>
</section>
