
/*////////////////////////////////*/
/*/////////////////////////////////
//// ABOUT PAGE
/////////////////////////////////*/

.about .info {
    display: flex;
}

.about .info .left-box,
.about .info .right-box {
    width: 50%;
}

.about .info .right-box h2,
.about .info .right-box p {
    width: 85%;
    margin: 20px 9%;
    line-height: 1.2;
}
.about .info button {
    display: block;
    margin: 35px 9%;
}

.about .right-box svg {
    width: 145px;
    height: auto;
    margin: 0px auto;
    display: block;
}

.about .info img {
    max-width: 100%;
}
